@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300&display=swap");
body {
  background: linear-gradient(
    90deg,
    rgba(248, 112, 3, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(130, 233, 30, 1) 100%
  );
}

h1 {
  font-size: 150px;
  padding-left: 600px;
  color: rgb(255, 0, 0);
}

h2 {
  text-align: center;
  padding-top: 0%;
  color: rgb(3, 40, 126);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  font-weight: 900;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(154, 21, 87);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  padding: 0px 50px;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header li {
  list-style: none;
  position: relative;
  padding: 0px 100px 0px;
  cursor: pointer;
}
#navbar li a {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #f2a6cc;
}
body {
  width: 100%;
}
p1 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: 550;
  margin: 15px 0 20px 0;
}
h3 {
  font-size: 70px;
  color: rgb(0, 129, 17);
  font-weight: 900;
}
img {
  padding-top: 50px;
  display: inline;
  align-items: space-between;
  margin-left: 80px;
  margin-right: auto;
}
p {
  font-weight: 900;
}
h4 {
  font-size: 45px;
  text-align: center;
}
#news a {
  font-size: 50px;
  cursor: pointer;
  font-weight: 800;
  list-style: none;
  text-decoration: none;
}
#news a:hover,
#news a.active {
  list-style: none;
  color: rgb(135, 36, 0);
}

#news img {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
