* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(219, 140, 211), rgb(20, 119, 141));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  color: rgb(171, 0, 85);
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

.converter-row {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 32, 56);
  border-radius: 10px;
  padding: 50px 20px;
}

.col {
  flex-basis: 32%;
  text-align: center;
}

.col label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
}

.col input {
  width: 150px;
  height: 30px;
  background: white;
  border-radius: 5px;
  text-align: center;
}
